


body{
    padding-top: 12%;
    padding-bottom: 15%;
    background-color: rgb(255, 246, 233);
    overflow-x: hidden;
    overscroll-behavior: none;
}



.heading_main{
    font-size: 1.5rem;
    font-family: Fredoka One;
    font-weight: lighter;
    color: rgb(48, 48, 48);
    margin-bottom: 0;
}

/* location  */
.geolocation{
    padding-top: 3px;
    text-align: center;
}

.geoactive{

    text-align: left;
    background-color: ivory;
    box-shadow: 1px 1px 10px 1px rgb(233, 233, 233);
}



a,.geolocation{

    font-family: Josefin Sans;

}

.geolocation>a{

    text-decoration: none;
    color: #ff7b00;

}

.fa-map-marker-alt,
.fa-chevron-down
{

    font-size: 1rem;
    color: #ff7b00;

}

.fa-chevron-down
{
    padding-bottom: 0px;
}

/* location  */

/* Banner Swipe */

.carousel-control-prev,
.carousel-control-next{

    display: none;

}

.d-block{

    border-radius: 1rem;
    margin-left: 5px;

}

/* banner swipe */

/* product swipe */

.pro_card{
    box-shadow: 1px 1px 6px 0px #999;
}

.pro_title{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: jost;
    font-weight: bold;
    color: rgb(41, 41, 41);
}

.pro_Desc{
    font-size: 0.9rem;
    font-family: jost;
    font-weight: 200;
    color: rgb(61, 61, 61);
}

.pro_price{
    font-size: 1rem;
    font-family: jost;
    font-weight: bold;
    color: #000;
}

button.addqty{
    font-size: 1rem;
    font-family: Righteous;
    border: 1.5px solid #ff7b00;
    color: #ff7b00;
    padding-right: 12px;
    padding-left: 12px;
}

p.card-text{
    margin-bottom:0;
}

.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
      margin-left: 15px;
      margin-right: 0 !important;
    width: 150px !important;
    text-align: center;
    font-size: 18px;
    background: none;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

/* product swipe */

/* floatnav */

a{

    text-decoration: none;

}

/* .fa-home,
.fa-user-circle,
.fa-th-large,
.fa-shopping-basket{

    text-align: center;
    font-size: 1.5rem;
    color: rgb(255, 124, 2);

} */

span.icon-name{

    display: block;
    font-size: 0.9rem;
    text-align: center;
    color: rgb(255, 124, 2);
    font-family: Josefin Sans;

}

.badge{
    text-align: center;
    width: 19px;
    height: 19px;
    position: absolute;
    display: block;
    border-radius: 1rem;
    border: 1px solid #ff7b00;
    color:#ff7b00;
    top: 4%;
    right: 8%;
    font-size: .85rem;
    padding-left: 1px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* floatnav */

/* fixed nav */

.shoploc,a{
    color: #999;
    text-decoration: none;
}

.shopbadge{
    text-align: center;
    width: 19px;
    height: 19px;
    position: absolute;
    display: block;
    border-radius: 1rem;
    border: 1px solid #ff7b00;
    color:#ff7b00;
    top: 6%;
    right: 6%;
    font-size: .85rem;
    padding-left: 1px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

/* fixed nav */

/* shop product */

.shop_qty {
    width: 30px;
    border: 0;
    margin-top: 4px;
    font-size: 1.2rem;
    font-family: Jost;
    text-align: center;
    line-height: 105%;
    outline: none;
}

/* shop product */

/* breadcrumb */

.breadcrumb{
    margin-top: -1px;
    max-width: 100%;
    border-radius: 0;
    background-color: rgb(241, 241, 241);
}

/* breadcrumb */

/* horizontal scroll */

.pn-ProductNav {
    padding-bottom: 2px;
    margin-left: 10px;
    margin-right: 10px;
    /* Make this scrollable when needed */
    overflow-x: auto;
    /* We don't want vertical scrolling */
    overflow-y: hidden;
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* For WebKit implementations, provide inertia scrolling */
    -webkit-overflow-scrolling: touch;
    /* We don't want internal inline elements to wrap */
    white-space: nowrap;
    /* Remove the default scrollbar for WebKit implementations */
  }
  .pn-ProductNav::-webkit-scrollbar {
    display: none;
  }
  
  a.pn-ProductNav_Link:hover{
      color: #ff7b00;
  }

  .pn-ProductNav_Link {
    text-decoration: none !important;
    color: #ff7b00;
    font-size: 1rem;
    font-family: Oxygen;
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    min-height: 25px;
    border: 1px solid #ff7b00;
    border-radius: 20px;
    padding-right: 6px;
    padding-left: 6px;
  }
  .pn-ProductNav_Link + .pn-ProductNav_Link {
    margin-left: 11px;
    padding-right: 6px;
    padding-left: 6px;
  }
  .pn-ProductNav_Link[aria-selected="true"] {
    color: #fff;
    background-color: #ff7b00;
  }

  .cat_nav{
      margin-top: -20px;
  }

/* horizontal scroll */



/* product list */

.pro_list{
    margin-top: 25%;
}

button.pro_list_addqty{
    font-size: 0.8rem;
    font-family: Righteous;
    border: 1.5px solid #ff7b00;
    color: #ff7b00;
}

.pro_list_addqty.btn:hover{
    color: #ff7b00;
}

a.pro_store{
    font-size: 0.9rem;
    font-family: Righteous;
    border: 1.5px solid #ff7b00;
    color: #ff7b00;
}

.store_Desc{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: jost;
    color: grey;
    font-size: 1rem;
}


.pro_list_title{
    font-size: 1.3rem;
    font-weight: lighter;
    font-family: jost;
    color: grey;
}

.pro_list_desc{
    font-size: 1rem;
    font-weight: bold;
    font-family: jost;
    color: #999;
}

.pro_list_price{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: jost;
    color: rgb(70, 70, 70);
}

.pro_dis_price{
    font-size: 0.8rem;
    font-weight: bold;
    font-family: jost;
    color: #fff;
    text-decoration: line-through;
}

.notify-badge{
    position: absolute;
    right:-10px;
    top:0px;
    background:#999;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:1px 5px;
    font-size:20px;
}

.no_pro{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: jost;
    color: rgb(70, 70, 70);
}


/* product list */

/* cart */

.cartloc{
    padding-top: 5px;
}

.pro_cart{
    margin-top: 14%;
    overflow-y:auto;
    height:auto;
    max-height:305px;
}

.cart_head{
    font-size: 1.8rem;
    font-family: Josefin Sans;
    font-weight: bold;
    color: #999;
}

.pro_cart_title{
    font-size: 1.2rem;
    font-weight: lighter;
    font-family: jost;
    color: grey;
}

.pro_cart_desc{
    font-size: 1rem;
    font-weight: bold;
    font-family: jost;
    color: rgb(73, 73, 73);
}

.pro_cart_price{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Rubik;
    color: rgb(36, 36, 36);
}

.pro_cart_addqty{
    font-size: 0.8rem;
    font-family: Righteous;
    border: 1.5px solid #ff7b00;
    color: #ff7b00;
}

.pro_cart_addqty.btn:hover{
    color: #ff7b00;
}

.cart_qty {
    width: 30px;
    border: 0;
    margin-top: 4px;
    font-size: 1.2rem;
    font-family: Jost;
    text-align: center;
    line-height: 105%;
}

.index_cart_qty{
    width: 22px;
    border: 0;
    margin-top: 4px;
    font-size: 1rem;
    font-family: Jost;
    text-align: center;
    line-height: 105%;
}

.btn-qty{
    background-color: #ff7b00;
    line-height: 0.5;
    font-size: 1rem;
    font-weight: bold;
}

.bill_head{
    font-family: Concert One;
    font-size: 1.8rem;
}

.bill_sub_total{
    font-family: Concert One;
    font-size: 1.2rem;
    padding-top: 0px !important;
}

.bill_tax{
    font-family: Concert One;
    font-size: 1.2rem;
    padding-top: 0px !important;
}

.bill_charges{
    font-family: Concert One;
    font-size: 1.2rem;
    padding-top: 0px !important;
}

.bill_total{
    font-family: Concert One;
    font-size: 1.5rem;
    padding-top: 0px !important;
}

.save_total{
    font-family: Josefin Sans;
    font-size: 1.2rem;
    color: #3e831f;
}

.item_count{
    font-family: Noto Serif;
    font-size: 1.2rem;
    color: #fff;
}

.item_cost{
    font-family: Laila;
    font-size: 1.4rem;
    color: #fff;
}

.bill_checkout{
    font-family: Concert One;
    font-size: 1.5rem;
    height: 100%;
    border-radius: 0;
    padding-top: 5px;
}


/* cart */

/* register */

.register_form{
    margin-top: 15%;
}


.register_form{
    
}

/* register */

/* cart_bottom */

.cart_bottom{
    background-color: #ffaa00 ;
    border-radius: 0;
}
.order_again{
    font-size: 1.5rem;
    text-align: center;
    font-family: Concert One;
}

.order_again_bottom{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    font-family: Josefin Sans;
    background-color: #ffaa00 ;
    border-radius: 0;
    margin-left: 0;
}

.order_again_price{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: jost;
    color: rgb(70, 70, 70);
}
/* cart_bottom */

/* register */

.register_link{
    font-size: 1rem;
    font-family: Concert One;
    color: grey;
}

.btnregister_link{
    border: 2px solid #3e831f;
    font-size: 1.5rem;
    font-family: Concert One;
}

.form-control{
    min-height: 59px;    
}

/* register */

/* order details*/

.pro_order_name{
    font-size: 1.2rem;
    font-family: Concert One;
    font-weight: bold;
    color: #000;
}

.pro_order_desc{
    font-size: 1rem;
    font-family: Concert One;
    font-weight: bold;
    color: #999;
}

.pro_order_qty{
    font-size: 1rem;
    font-family: Concert One;
    font-weight: bold;
    color: #999;
}

.pro_order_sub{
    font-size: 1.2rem;
    font-family: Concert One;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.order_view{
    font-size: 1rem;
    font-family: Concert One;
    font-weight: bold;
    color: #fff !important;
}

.select_address{
    font-size: 1rem;
    font-family: Josefin Sans;
    font-weight: bold;
    color: #999 !important;
}

.add_head{
    text-align: center;
    font-size: 1.3rem;
    font-family: Josefin Sans;
    font-weight: bold;
    color: rgb(31, 31, 31) !important;
}

.add_head_btn{
    text-align: center;
    font-size: 1.3rem;
    font-family: Josefin Sans;
    font-weight: bold;
    color: #fff !important;
    border-radius: 0;
}


/* order details*/

/* order COD*/

.cod_text{
    font-size: 1.2rem;
    font-family: Josefin Sans;
    font-weight: bold;
    color: #999;
}

.paytm_text{
    font-size: 1.2rem;
    font-family: Josefin Sans;
    font-weight: bold;
    color: #999;
}

/* order COD*/

